<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recent Operations </title>

    {% load static %}
    <link rel='stylesheet' href="{% static 'arithmeticShootout/style.css' %}" type='text/css'>
  </head>
  <body>
    <div class="white stuff-box">
      {% include 'arithmeticShootout/nav.html' %}
      <h1> ERROR - Something Bad Happened So You Ended Up Here </h1>
      <span> Try going back to a different page and trying again. </span>
    </div>
  </body>
</html>

