<nav>
  <ol>
    <li> <a href='/arithmeticShootout/index.html'> Calculator </a> </li>
    <li> <a href='/arithmeticShootout/recent.html'> Recent Expressions </a> </li>
    <li> <a href='/arithmeticShootout/undefined.html'> Undefined Expressions </a> </li>
    <li> <a href='/arithmeticShootout/disagreeing.html'> Disagreeing Expressions </a> </li>       
    <li> <a href='/arithmeticShootout/operator.html'> Expressions By Operator </a> </li>
    <li> <a href='/arithmeticShootout/plan.html'> Software Dev Plan </a> </li>
  </ol>
</nav>
