<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Conversions</title>
</head>
<body>
  <h1> Usage: http://localhost:8000/unitconv/convert?<em>OPTIONS</em></h1>
  <h3> Each of the OPTIONS must be included in the request:
  <ul>
    <li>from = T | g | | t_oz | kg | lb | oz </li>
    <li>to = T | g | | t_oz | kg | lb | oz </li>
    <li> value = <em> a floating point number </em> </li>
  </ul>
</body>
</html>
